MODEL_DEVICE=cuda:0
MODEL_NAME=sshleifer/tiny-gpt2
MODEL_REVISION=main
SCHEDULER_POLICY=dynamic_batch
MODEL_WARMUP_ON_START=true
MAX_CONCURRENT_REQUESTS=32
MAX_BATCH_SIZE=16
MAX_TOTAL_BATCH_TOKENS=4096
